@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PC REPAIR SHOP</h1>
    <h2>
        Here we dedicate ourselves to deliver the best repair services in Johannesburg.
    </h2>
    <br>
    <h3>
        Repair Services
    </h3>
    <p>
        We repair any device, from Custom Computers, to Smart Watches. Our staff have vast knowledge on how to repair devices with official repair manuals from all major tech brands.
    </p>
    <br>
    <h3>
        Ewaste Disposal Services
    </h3>
    <p>
        Got any old electronics with no use? Any oldie that stopped functioning? We are certified to remove any and all unwanted ewaste. We will even reimburse you. Simple.
    </p>
</div>
